.jumbotron {
    background: url("samuel-zeller-242172-unsplash.jpg");
    background-size: cover;
}

.display-4 {
    font-weight: 500;
    letter-spacing: 0.5px;
}

h2, h3, h4, h5 {
    font-weight: 400;
    letter-spacing: 0.3px;
}

p {
    letter-spacing: 0.1px;
    font-weight: 300;
}

.card {
    border: none;
    box-shadow: 0px 8px 18px lightgrey;
}

.fas {
    font-size: 2.7em;
    padding-top: 1.25rem;
}

.comp-logo {
        padding-top: 20px;
        padding-bottom: 20px;
}

.about {
    padding-bottom: 40px;
}

.social-text {
    font-weight: 500;
    margin-bottom: 5px;
}

.fab {
    font-size: 1.2em;
}

a .fab {
    color: #fff;
}

.fa-instagram {
    padding-right: 10px;
}

.contact {
    background-color: #000;
    color: #fafafa;
    padding-top: 15px;
}

.contact p {
    font-weight: 300;
}

.contact h4 {
    margin-bottom: 25px;
}

.form-group,
.form-control {
    font-size: 0.9rem;
    font-weight: 400;
    background-color: transparent;
    border-radius: 0;
    border-top: none;
    border-right: none;
    border-left: none;
}

textarea.form-control {
    min-height: 100px;
}

.btn {
    background-color: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer {
    background-color: #000;
    text-align: center;
    font-size: 0.85em;
    letter-spacing: 0.03em;
    color: #fafafa;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;
}

@media (min-width: 980px) {
    .jumbotron {  
        padding: 160px 0;
    }
    .display-4 {
        font-size: 4.3rem;
    }
    .row {
        padding-top: 40px;
        padding-bottom: 40px;
    }
  }

@media (max-width: 980px) {
    .jumbotron {  
        padding: 60px 0;
    }
    .display-4 {
        font-size: 3rem;
    }
    .row {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .about-photo img {
        width: 100%;
        height: auto;
        padding-top: 50px;
    }
}

@media (max-width: 480px) {
    .display-4 {
        font-size: 2.3rem;
    }
    .about-photo img {
        width: 99%;
        height: auto;
        padding-top: 0px;
    }
    .fab {
    padding-bottom: 25px;
}
}